{% extends "templates/web.html" %}

{% block title %} Paystack Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script>
window.csrf_token = "{{ csrf_token }}";
</script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>{% include "payments/templates/includes/paystack_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<div class="text-center">
    <button id="paystack-payment-button" class="btn btn-primary">{{ _("Pay Now") }}</button>
</div>

{% endblock %}

{% block style %}
<style>
	header, footer {
		display: none;
	}

</style>
{% endblock %}