{% extends "templates/web.html" %}

{% block title %} Yoco Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script>
window.csrf_token = "{{ csrf_token }}";
</script>
<script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
<script>{% include "payments/templates/includes/yoco_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<div class="text-center">
    <button id="yoco-payment-button" class="btn btn-primary">{{ _("Pay Now") }}</button>
</div>

{% endblock %}

{% block style %}
<style>
	header, footer {
		display: none;
	}

</style>

{% endblock %}